{% extends 'base.html.twig' %}

{% block title %}Other index{% endblock %}

{% block body %}
    <h1>Other index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for other in others %}
            <tr>
                <td>{{ other.id }}</td>
                <td>{{ other.createdAt ? other.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ other.updatedAt ? other.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('other_show', {'id': other.id}) }}">show</a>
                    <a href="{{ path('other_edit', {'id': other.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('other_new') }}">Create new</a>
{% endblock %}
