{% extends 'index/index.html.twig' %}

{% block title %}Type Utilisateur{% endblock %}

{% block featured %}{% endblock %}
        
{% block popular %}{% endblock %}
        
{% block features_categories %}{% endblock %}

{% block content %}
    <h2 id="page-title">Liste des types utilisateurs</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_type in user_types %}
            <tr>
                <td>{{ user_type.id }}</td>
                <td>{{ user_type.name }}</td>
                <td>{{ user_type.description }}</td>
                <td>
                    <a href="{{ path('user_type_show', {'id': user_type.id}) }}">Afficher</a>
                    <a href="{{ path('user_type_edit', {'id': user_type.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun type utilisateur trouve</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_type_new') }}">Nouveau type utilisateur</a>
{% endblock %}
