{% extends 'base.html.twig' %}

{% block title %}Proposal index{% endblock %}

{% block body %}
    <h1>Proposal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>IsActive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposal in proposals %}
            <tr>
                <td>{{ proposal.id }}</td>
                <td>{{ proposal.name }}</td>
                <td>{{ proposal.description }}</td>
                <td>{{ proposal.startTime ? proposal.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proposal.endTime ? proposal.endTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proposal.createdAt ? proposal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proposal.updatedAt ? proposal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proposal.deletedAt ? proposal.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proposal.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('proposal_show', {'id': proposal.id}) }}">show</a>
                    <a href="{{ path('proposal_edit', {'id': proposal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('proposal_new') }}">Create new</a>
{% endblock %}
