{# default content #}
<ul class="cat-list">
    <li><a href="#">Freelance</a></li>
    <li><a href="#">Plein temps</a></li>
    <li><a href="#">Temps partiel</a></li>
</ul>
<div class="single-post d-flex flex-row">
    <div class="thumb">
        <img src="{{ asset('img/post.png') }}" alt="">
        <ul class="tags">
            <li>
                <a href="#">PHP</a>
            </li>
            <li>
                <a href="#">Symfony</a>
            </li>
            <li>
                <a href="#">MySQL</a>					
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="title d-flex flex-row justify-content-between">
            <div class="titles">
                <a href="single.html"><h4>Developpeur Symfony</h4></a>
                <h6>5 ans d'experience</h6>					
            </div>
            <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Voir le CV</a></li>
            </ul>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Contrat recherche : Plein temps</h5>
        <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
    </div>
</div>
<div class="single-post d-flex flex-row">
    <div class="thumb">
        <img src="{{ asset('img/post.png') }}" alt="">
        <ul class="tags">
            <li>
                <a href="#">Art</a>
            </li>
            <li>
                <a href="#">Media</a>
            </li>
            <li>
                <a href="#">Design</a>					
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="title d-flex flex-row justify-content-between">
            <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
            </div>
            <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
            </ul>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Job Nature: Full time</h5>
        <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
    </div>
</div>
<div class="single-post d-flex flex-row">
    <div class="thumb">
        <img src="{{ asset('img/post.png') }}') }}" alt="">
        <ul class="tags">
            <li>
                <a href="#">Art</a>
            </li>
            <li>
                <a href="#">Media</a>
            </li>
            <li>
                <a href="#">Design</a>					
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="title d-flex flex-row justify-content-between">
            <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
            </div>
            <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
            </ul>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Job Nature: Full time</h5>
        <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
    </div>
</div>		
<div class="single-post d-flex flex-row">
    <div class="thumb">
        <img src="{{ asset('img/post.png') }}" alt="">
        <ul class="tags">
            <li>
                <a href="#">Art</a>
            </li>
            <li>
                <a href="#">Media</a>
            </li>
            <li>
                <a href="#">Design</a>					
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="title d-flex flex-row justify-content-between">
            <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
            </div>
            <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
            </ul>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Job Nature: Full time</h5>
        <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
    </div>
</div>
<div class="single-post d-flex flex-row">
    <div class="thumb">
        <img src="{{ asset('img/post.png') }}" alt="">
        <ul class="tags">
            <li>
                <a href="#">Art</a>
            </li>
            <li>
                <a href="#">Media</a>
            </li>
            <li>
                <a href="#">Design</a>					
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="title d-flex flex-row justify-content-between">
            <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
            </div>
            <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
            </ul>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Job Nature: Full time</h5>
        <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
    </div>
</div>
<div class="single-post d-flex flex-row">
    <div class="thumb">
        <img src="{{ asset('img/post.png') }}" alt="">
        <ul class="tags">
            <li>
                <a href="#">Art</a>
            </li>
            <li>
                <a href="#">Media</a>
            </li>
            <li>
                <a href="#">Design</a>					
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="title d-flex flex-row justify-content-between">
            <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
            </div>
            <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
            </ul>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Job Nature: Full time</h5>
        <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
    </div>
</div>															
<div class="single-post d-flex flex-row">
    <div class="thumb">
        <img src="{{ asset('img/post.png') }}" alt="">
        <ul class="tags">
            <li>
                <a href="#">Art</a>
            </li>
            <li>
                <a href="#">Media</a>
            </li>
            <li>
                <a href="#">Design</a>					
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="title d-flex flex-row justify-content-between">
            <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>					
            </div>
            <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="#">Apply</a></li>
            </ul>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Job Nature: Full time</h5>
        <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
    </div>
</div>	

<a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a>