{# featured categories #}
<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Categories</h1>
                    <p>Les categories les plus populaires</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="{{ asset('img/o1.png') }}" alt="">
                    </a>
                    <p>Java</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="{{ asset('img/o2.png') }}" alt="">
                    </a>
                    <p>PHP</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="{{ asset('img/o3.png') }}" alt="">
                    </a>
                    <p>DotNet</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="{{ asset('img/o4.png') }}" alt="">
                    </a>
                    <p>Infographie</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="{{ asset('img/o5.png') }}" alt="">
                    </a>
                    <p>Call center</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="{{ asset('img/o6.png') }}" alt="">
                    </a>
                    <p>Comptabilite</p>
                </div>			
            </div>																											
        </div>
    </div>	
</section>
<!-- End feature-cat Area -->