{# header #}
{% set homepage = path('homepage') %}
{% set user = app.user %}
<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="{{ homepage }}">
                    <img src="{{ asset('img/logo.png') }}" alt="Curriculum" title="Curriculum" />
                </a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{{ homepage }}">Accueil</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contact</a></li>
                    {# <li class="menu-has-children"><a href="">Pages</a>
                    <ul>
                        <li><a href="elements.html">elements</a></li>
                        <li><a href="search.html">search</a></li>
                        <li><a href="single.html">single</a></li>
                    </ul>
                    </li> #}
                    {% if user is null %}
                        <li><a class="ticker-btn" href="#">S'inscrire</a></li>
                        <li><a class="ticker-btn" href="{{ path('app_login') }}">Se connecter</a></li>	
                    {% else %}
                        <li class="menu-has-children"><a href="">{{ user.email }}</a>
                            <ul>
                                <li><a href="{{ path('user_profile') }}">Mon profil</a></li>
                                <li><a href="#">Editer mon profil</a></li>
                                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav><!-- #nav-menu-container -->		    		
        </div>
    </div>
</header><!-- #header -->