{% extends 'base.html.twig' %}

{% block title %}LanguageKnowledge index{% endblock %}

{% block body %}
    <h1>LanguageKnowledge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language_knowledge in language_knowledges %}
            <tr>
                <td>{{ language_knowledge.id }}</td>
                <td>{{ language_knowledge.createdAt ? language_knowledge.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ language_knowledge.updatedAt ? language_knowledge.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('language_knowledge_show', {'id': language_knowledge.id}) }}">show</a>
                    <a href="{{ path('language_knowledge_edit', {'id': language_knowledge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('language_knowledge_new') }}">Create new</a>
{% endblock %}
